@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
* {
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* header */

/* skip */
.skip {
    padding: 10px 20px;

    z-index: 40;
    position: absolute;
    text-decoration: none;
    transform: translate(0, 60px);
    right: 0;
    color: #f0bb62;
    display: block;
    background-color: #064635;
    display: block;
}
.skip:focus {
    outline: 2px solid #f0bb62;
}
.skip.hide {
    display: none;
}

/* navbar */
.nav {
    display: flex;
    justify-content: space-around;
    background-color: #064635;
    align-items: center;
    position: relative;
    max-height: 61px;
}
.nav > h1 {
    color: #f0bb62;
    font-size: 1rem;
}
.nav > .nav__menu {
    background-color: #064635;
    position: absolute;
    padding: 20px;

    top: 0;
    left: 0;
    z-index: 30;
    transform: translate(-250px, 45px);
    transition: transform 0.3s ease-in-out;
}
.nav > .nav__menu.open {
    transform: translate(0, 45px);
    transition: transform 0.3s ease-in-out;
}

.nav__list li {
    list-style: none;
    margin: 10px;
}
.nav__menu .nav__list > li > a {
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    color: #f0bb62;
    min-height: 44px;
    min-width: 44px;
}
.hamburger {
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
    position: absolute;
    left: 0;
    font-size: 1.2em;
    padding: 10px;
    text-decoration: none;
    color: #f0bb62;
}
/* jumbotron */
#jumbotron {
    position: relative;
    width: 100%;
    min-height: 300px;

    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.jumbotron__desc {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.456) 70%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;

    padding: 20px;
}

.jumbotron__desc h1 {
    font-size: 1.5rem;
    color: #f0bb62;
}
.jumbotron__desc p {
    font-size: 15px;
    color: #f4eea9;
    line-height: 1.2;
}
/* restaurant */
#restaurant {
    margin: -10px;
    padding: 20px;
    background-color: #dede;
}
#restaurant h1 {
    color: #064635;
}
#restaurant > p {
    color: #064635;
}
.restaurant__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}
.restaurant__item {
    background-color: #fff;
    min-height: 100px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
}

.restaurant__item__img {
    width: 100%;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    background-color: #064635;
}
.restaurant__item__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #064635;
}
.restaurant__item__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.restaurant__item__detail p {
    margin: 0;
}
.restaurant__item__detail > .restaurant__item__title {
    font-weight: 800;
    font-size: 1.1em;
    color: #064635;
}
.restaurant__item__detail > .restaurant__item__rating {
    font-size: 12px;
    color: rgba(59, 59, 59, 0.933);
}
.restaurant__item__detail > .restaurant__item__rating > span {
    font-size: 10px;
    padding: 1px;

    font-weight: 800;
    color: #064635;
}
.restaurant__item__detail > .restaurant__item__desc {
    font-size: 13px;

    width: 180px;
    /** ... **/
    overflow: hidden;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;

    color: rgba(59, 59, 59, 0.933);
}
.restaurant__item__city {
    writing-mode: vertical-lr;
    flex: 0 0 40px;
    text-align: center;

    font-weight: 600;
    margin: 0;
    padding: 8px;
    display: block;
    background-color: #064635;
    color: #f0bb62;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

footer {
    padding: 10px;
    background-color: #064635;
    color: #f0bb62;
    text-align: center;
}
footer .sosmed__list {
    border-bottom: 1px solid #f0bb62;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
footer .sosmed__list a {
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .sosmed__list svg {
    display: inline-block;
    width: 15px;
    fill: #f0bb62;
}
.copyr {
    font-size: small;
}
